<div class="container" style="border-style: solid; border-color:mediumpurple; border-width: 2px; padding-top: 8px; padding-bottom: 8px; padding-right: 16px; margin-top: 20px;">
  <div class="row">
    <div class="col-3">
      <h3>Title:</h3>
    </div>
    <div class="col-9">
      <h3>{{task.title}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <h3>Completed:</h3>
    </div>
    <div class="col-5">
      <h3>{{task.completed}}</h3>
    </div>

    <div class="col-1" *ngIf="!task.completed">
        <button mat-raised-button color="accent" (click)="onMarkCompleted()">Mark Completed</button>
    </div>
  </div>

</div>
