<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{user.name}}'s ToDo's:
    </mat-card-title>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)='onNewTask()'>New Task</button>
  </mat-card-header>
  <mat-card-content>
    <div style="padding: 16px">
      <!-- <h3>TODO's:</h3> -->
      <app-user-detail-to-do *ngFor="let t of user.tasks" [task]="t" (taskUpdatedNotification)="updateUser()"></app-user-detail-to-do>
    </div>
  </mat-card-content>
</mat-card>
<br>
<br>

<mat-card>
    <mat-card-header>
      <mat-card-title>
        {{user.name}}'s Posts:
      </mat-card-title>
      <span class="spacer"></span>
      <button mat-raised-button color="primary" (click)='onNewPost()'>New Post</button>
    </mat-card-header>
    <mat-card-content>
      <div style="padding: 16px">
        <!-- <h3>TODO's:</h3> -->
        <app-user-detail-post *ngFor="let p of user.posts" [post]="p"></app-user-detail-post>
      </div>
    </mat-card-content>
  </mat-card>